body {
  font-family: "Libre Baskerville", serif;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.section-padding {
  padding: 100px 0 70px 0;
}

button.clicked {
  pointer-events: none;
  cursor: not-allowed !important;
}

@media (min-width:992px) {
  .navbar {
    background: transparent !important;
    transition: all 0.4s;
  }
  .navbar.scrolled {
    background: rgba(0, 0, 0, 0.2) !important;
  }
  .navbar.scrolled::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.91);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    z-index: -1 !important;
  }
}
.navbar .navbar-nav li a.active {
  border-bottom: 1px solid black !important;
}
.navbar .shopping-user-search {
  margin: unset;
  font-size: 20px;
}
.navbar .shopping-user-search li .shopping-item-in-cart {
  position: relative;
}
.navbar .shopping-user-search li .shopping-item-in-cart .item-in-cart {
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  right: -18px;
  top: -2px;
  border-radius: 50%;
  background: #000000;
  color: white;
  text-align: center;
}

.page-heading .container .row {
  height: 40vh;
  min-height: 200px;
}
.page-heading .container .row a {
  color: #0fb78d;
}
.page-heading .container .row a strong {
  color: unset;
}

.items {
  padding: 100px 0;
  position: relative;
}
.items .container .gallery {
  overflow-x: scroll;
}
@media (min-width:1200px) {
  .items .container .gallery::-webkit-scrollbar {
    display: none;
  }
}
.items .container .gallery table tbody {
  vertical-align: middle !important;
}
.items .container .gallery table tbody tr th {
  width: 16.6666666667%;
}
.items .container .gallery table tbody tr th img {
  width: 100%;
}
.items .container .gallery table tbody tr td {
  width: 16.6666666667%;
}
.items .container .gallery table tbody tr td .increase-selected-items-decrease {
  gap: 5px;
}
@media (max-width:767px) {
  .items .container .gallery table tbody tr td .increase-selected-items-decrease {
    flex-direction: column;
  }
}
@media (max-width:767px) {
  .items .container .gallery table tbody tr td .increase-selected-items-decrease .seleted-num {
    order: 1 !important;
  }
}
.items .container .gallery table tbody tr td .increase-selected-items-decrease div input {
  width: 100% !important;
}
.items .container .gallery table tbody tr td .increase-selected-items-decrease div button {
  width: 100% !important;
}
.items .container .gallery table tbody tr td .increase-selected-items-decrease input {
  width: 20% !important;
}

.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item {
  height: calc(100vh - 64px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item:nth-child(1) {
  background-image: url(../imges/hero_bg_5.jpg);
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item:nth-child(2) {
  background-image: url(../imges/hero_bg_3.jpg);
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item:nth-child(3) {
  background-image: url(../imges/hero_bg_4.jpg);
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item .carousel-caption {
  top: 30% !important;
  width: 50%;
  margin: auto;
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4;
}
.hero #carouselExampleCaptions.carousel .carousel-inner .carousel-item .carousel-caption button:hover {
  background-color: black;
  color: white !important;
}
.services {
  background-color: #f8f8fa;
}
@media (min-width:992px) {
  .services .container .features {
    flex-wrap: nowrap !important;
  }
}
.services .container .features .feature {
  text-align: center;
  background: #ffffff;
  padding: 20px;
}
.services .container .features .feature i,
.services .container .features .feature svg,
.services .container .features .feature img {
  width: 2rem;
  height: 2rem;
}
.services .container .features .feature h3 {
  font-size: 11px;
}
.services .container .features .feature p {
  font-size: 15px;
  color: #b3b3b3;
}

#products .container .product .image {
  overflow: hidden;
}
#products .container .product .image:hover img {
  transform: scale(1.2);
  transition: transform 0.5s;
}
#products .container .product .image .badge {
  background-color: red;
  padding: 5px 10px;
}
#products .container .product .product-info .product-title {
  font-size: 13px;
  color: #000000;
}
#products .container .product .product-info .product-price {
  font-size: 13px;
  color: #333;
}

.badge {
  background-color: red;
  padding: 5px 10px;
}

.image {
  overflow: hidden;
}
.image:hover img {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.deal-hero {
  height: calc(100vh - 90px);
  background-image: url(../imges/hero_bg_1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.deal-hero .deal-contents {
  background: #ffffff;
}
@media (max-width:991px) {
  .deal-hero .deal-contents {
    width: auto !important;
  }
}
.deal-hero .deal-contents a {
  color: white !important;
  background-color: black;
  width: -moz-fit-content;
  width: fit-content;
}
.deal-hero .deal-contents a:focus {
  background-color: black;
  color: white !important;
}

#Popular-Items .container .popular-title-btns .btns .cBtn {
  font-size: 30px;
  border-width: 0;
  color: #ccc;
  transition: all 0.3s;
}
#Popular-Items .container .popular-title-btns .btns .cBtn:hover {
  color: black;
}
#Popular-Items .container .popular-title-btns .btns .cBtn:focus {
  outline: none;
  border: none;
}
#Popular-Items .container .gallery {
  overflow-x: scroll;
}
#Popular-Items .container .gallery::-webkit-scrollbar {
  display: none;
}
#Popular-Items .container .gallery .wrappar {
  gap: 10px;
  flex-wrap: nowrap;
}
#Popular-Items .container .gallery .wrappar .item {
  display: block;
  margin-right: 0;
  flex: 0 0 33.3333333333%;
}
@media (max-width:991px) {
  #Popular-Items .container .gallery .wrappar .item {
    flex: 0 0 50%;
  }
}
@media (max-width:767px) {
  #Popular-Items .container .gallery .wrappar .item {
    flex: 0 0 100%;
  }
}
#Popular-Items .container .gallery .wrappar .item img {
  width: 100%;
}

* {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* start slider*/
#footer {
  padding: 100px 0 70px 0;
}
#footer .container .widget {
  margin-bottom: 40px;
  display: block;
  position: relative;
  z-index: 1;
}/*# sourceMappingURL=homepage.css.map */