#products {
  .container {
    // product
    .product {
      .image {
        .badge {
          background-color: red;
          padding: 5px 10px;
          .product-image {
          }
        }
      }

      .product-info {
        .product-title {
          font-size: 13px;
          color: #000000;
        }
        .product-price {
          font-size: 13px;
          color: #333;
        }
      }
    }
  }
}
