#products {
  .container {
    // product
    .product {
      .image {
        overflow: hidden;
        &:hover{
          img{
            transform: scale(1.2);
          transition: transform 0.5s;
          
          }
        }
        .badge {
          background-color: red;
          padding: 5px 10px;
         
          
          
          .product-image {
          }
        }
      }

      .product-info {
        .product-title {
          font-size: 13px;
          color: #000000;
        }
        .product-price {
          font-size: 13px;
          color: #333;
        }
      }
    }
  }
}
.badge {
  background-color: red;
  padding: 5px 10px;
  
}
.image {
  overflow: hidden;
  &:hover{
    img{
      transform: scale(1.2);
    transition: transform 0.5s;
    
    }
  }
}