body{
    font: {
        family:'Libre Baskerville', serif;
    }
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.section-padding{
    padding: 100px 0 70px 0;
}

// .add-to-cart-btn{
//     position: absolute;
//     z-index: 999;
//     left: 113px;
//     top: 91%;
//     background-color: red;
//     color: white;
// }
button{
    &.clicked{
        pointer-events: none;
        cursor: not-allowed !important;
    }
}