// Media
// Max
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
// Min
$minSmall: "(min-width:768px)";
$minMedium: "(min-width:992px)";
$minLarge: "(min-width:1200px)";

// Colors
$RedColor: #e2494c;
$greyColor: #9c9c9c;
$whiteColor: #fff;
$DDDColor: #ddd;
$D1D1D1Color: #d1d1d1;
$paragraphColor: #888;

// float
$float-left: left;
$float-right: right;

// texts
$text-right: right;
$text-left: left;
